<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
    
</head>

<body>
    <div class="container">

        <div class="background">

        </div>
        <div class="login-container">

            <div class="login">
                <div class="login-header">
                    <h1>login</h1>
                    <p>โปรดยืนยันตัวตนผ่านการระบุชื่อผู้ใช้งานของโรงเรียน</p>
                </div>
                <div class="login-body">
                    <form action="/login" method="post" class="login-form">
                        <h2>Username</h2>
                        <input type="text" name="username" placeholder="Username" class="input-field">
                        <div class="input-label">
                            <h2>Password</h2>
                            <p class="forgot-password">forgot your password?</p>
                        </div>
                        <div class="password-wrapper">
                            <input type="password" name="password" placeholder="Password" class="input-field" id="passwordField">
                            <span class="toggle-icon" onclick="togglePassword()" id="toggleicon">
                                <img src="/images/icons/PasswordToggle.png" alt="Password Toggle">
                            </span>
                        </div>
                        
                        <button type="submit" class="login-btn">
                            <img src="/images/icons/Login.svg" alt="login">
                            Login
                        </button>
                    </form>
                    <% if (messages.error){ %>
                        <p class="error-messages"><%= messages.error %></p>
                    <% }%>
                </div>
            </div>

        </div>
    </div>
    <script>
        function togglePassword(){
            const passwordfield = document.getElementById('passwordField');
            const toggleicon = document.getElementById('toggleicon');

            if(passwordfield.type === 'password'){
                passwordfield.type = 'text';
                toggleicon.style.opacity = 1
            }else{
                passwordfield.type = 'password';
                toggleicon.style.opacity = 0.5
            }
            

        }
    </script>




</body>

</html>