<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/Submit-Grades.css">
    <title>Submit Grade</title>
</head>
<body>
    <%- include('Menu-Teacher') %>
    <div id="drop-zone">
        <p>Upload Files Here</p>
    </div>
    <input type="file" id="fileInput" style="display: none;">
</body>
</html>