html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
}

#drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 50px;
    width: 50%;
    height: 50%;
    text-align: center;
    cursor: pointer;
}
.dragover {
    background-color: #f0f0f0;
}